@import "compass/reset";

/* composants CSS3 */
@import "compass/css3";

@import "includes/bg";
@import "includes/intro";
@import "includes/fix";
@import "includes/plateau";
@import "includes/PopUp";

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Flamenco:300,400);
@include font-face("RalewayBold", font-files("Raleway-Bold-webfont.woff", "Raleway-Bold-webfont.ttf", "Raleway-Bold-webfont.svg"), "Raleway-Bold-webfont.eot", normal, normal);
@include font-face("RalewaySemiBold", font-files("Raleway-SemiBold-webfont.woff", "Raleway-SemiBold-webfont.ttf", "Raleway-SemiBold-webfont.svg"), "Raleway-SemiBold-webfont.eot", normal, normal); 

html,body {
	margin:0;
	height:100%;/* 
	    overflow: hidden; */	
}

#container {
	width: 100%;
	height: 100%;
}

#container::-webkit-scrollbar {
	display: none;
}

.loader {
	position : fixed;
	z-index: 99999;
	background-color: blue;
	top : 0px;
	left : 0px;
	height : 100%;
	width : 100%;
	cursor : wait;
}


#main {
	position: absolute;
	width: 3000px;
	height: 100%;
}


