#bg {
	.ciel {
		background: url(../images/ciel2.png) repeat-x left top;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		z-index: 1;
	}
	.bg-footer {
		background: url(../images/bg-footer.png) repeat-x left bottom -110px;
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: -25px;
		z-index: 10;
	}

	.bg-forets {
		background: url(../images/forets.png) repeat-x left bottom -110px;
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 160px;
		left: -25px;
		z-index: 2;
	}
	
	.three > div {
		position: absolute;
		z-index: 1000;
		&.three1 {
			background: url(../images/three.png) repeat-x left bottom ;
			width: 290px;
			height: 322px;
			bottom: 90px;
			left: 125px;
		}
		&.three2 {
			background: url(../images/three2.png) repeat-x left bottom ;
			width: 119px;
			height: 148px;
			bottom: 170px;
			left: 445px;
		}
		&.three3 {
			background: url(../images/three3.png) repeat-x left bottom ;
			width: 102px;
			height: 127px;
			bottom: 190px;
			left: 515px;
			z-index: 100;
		}
		&.three4 {
			background: url(../images/three4.png) repeat-x left bottom;
			width: 154px;
			height: 242px;
			bottom: 140px;
			left: 795px;
		}
		&.three5 {
			background: url(../images/three5.png) repeat-x left bottom;
			width: 137px;
			height: 231px;
			bottom: 135px;
			left: 875px;
		}

		&.squirel {
			background: url(../images/squirel.png) repeat-x left bottom ;
			width: 78px;
			height: 75px;
			bottom: 170px;
			left: 570px;
		}
	}
	
	.mountain > div {
		position: absolute;
		z-index: 10;
		&.mountain1 {
			background: url(../images/mountain1.png) repeat-x bottom left ;
			width: 426px;
			height: 326px;
			bottom: 70px;
			left: 1023px;
		}
		&.mountain2 {
			background: url(../images/mountain2.png) repeat-x bottom left ;
			width: 500px;
			height: 318px;
			bottom: 70px;
			left: 775px;
			z-index: 9;
		}
		&.mountain3 {
			background: url(../images/mountain3.png) repeat-x bottom left ;
			width: 508px;
			height: 311px;
			bottom: 130px;
			left: 850px;
			z-index: 8;
		}
	}

	.cloud1 {
		background: url(../images/cloud1.png) repeat-x bottom left ;
		width: 193px;
		height: 102px;
		position: absolute;
		top: 160px;
		left: 150px;
		z-index: 10;
	}

	.cloud2 {
		background: url(../images/cloud2.png) repeat-x bottom left ;
		width: 256px;
		height: 128px;
		position: absolute;
		top: 160px;
		left: 1080px;
		z-index: 10;
	}
}
