nav {
	position: fixed;
	top: 0;
	z-index: 100;
	background-image: url(../images/bg-menu.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 95px;
	margin: 0 auto;
	text-align: center;
}

#fixe {
	width: 100%;
	padding-top: 82px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;

	h1 {
		width: 300px;
		height: 50px;
		font-family: 'Flamenco', sans-serif;
		font-weight: 400;
		color: white;
		font-size: 30px;
		margin: 0 auto;
		margin-bottom: 100px;
		border-radius: 0 0 10px 10px;
		background-color: #e6ac27;
		line-height: 50px;
		position: fixed;
		left: 50%;
		margin-left: -150px;
		z-index: 99;
	}

}

.de {
	background-color: #ca563b;
	border-radius: 100px;
	border: 5px solid #a64d32;
	width: 110px;
	height: 110px;
	margin: 0 auto;
	cursor: pointer;
	position: fixed;
	z-index: 100;
	top: 200px;
	left: 50%;
	margin-left: -55px;
	& > div {
		padding-top: 25px;
	}

	.img {
		background: url(../images/de.png);
		background-repeat: no-repeat;
		width: 70px;
		height: 65px;
		text-align: center;
		margin: 0 auto;
		&.deux {
			background-position: 0 -65px;
		}
		&.trois {
			background-position: 0 -130px;
		}
		&.stop {
			@include animation (none);
		}
	}

	&.active{
		.img{
			@include animation (loading 0.5s steps(3) infinite); 
		}
	}

}


@-webkit-keyframes loading {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 0 -195px;
	}
}
