#intro {
	width: 100%;
	height: 100%; 
	background: url(../images/bg-intro.jpg) no-repeat center bottom #bbca58;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;

	.center	{
		width: 1000px;
		margin: 0 auto;
		text-align: center;
		font-family: 'RalewaySemiBold', sans-serif;
	}
	
	h1 {
		margin-top: 80px;
		margin-bottom: 50px;
		font-size: 62px;
		font-family: 'Flamenco', sans-serif;
		font-weight: 400;
		color: #808e31;
		text-shadow: -1px 1px 0px rgba(40, 99, 44, 0.44);

	}
	p {
		font-size: 18px;
		color: white;
		width: 70%;
		margin: 0 auto;
		text-align: left;
		line-height: 20px;
		text-shadow: -1px 2px 1px rgba(40, 99, 44, 0.15);
	}
	.play {
		position: relative;
		z-index: 100000;
		margin-top: 65px;
		cursor: pointer;

		a {	
			position: relative;
			background-color: #df5f42;
			text-decoration: none;
			color: white;
			border-radius: 11px;
			font-size: 24px;
			padding: 15px;
			box-shadow: 0px 6px 0px 0px rgba(153, 165, 41, 1);
			@include transition (all .1s ease);

			&:active {
				position: relative;
				top: 3px;
				box-shadow: 0px 3px 0px 0px rgba(153, 165, 41, 1);

			}
		}
	}

	.mascotte {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../images/mascotte-intro.png) no-repeat bottom center;
	}

	.bulle-intro {
		position: absolute;
		bottom: 30px;
		left: -200px;
		width: 100%;
		height: 100%;
		background: url(../images/bulle-intro.png) no-repeat bottom center;
	}

}

