#plateau {
	position: absolute;
	bottom: 20px;
	left: 300px;
	z-index: 1000;
	ul {
		width: 1200px;
		li {
			cursor: pointer;
			display: inline-block;
			position: relative;
			margin-right: 20px;
			&.case1 {
				background: url(../images/case1.png) no-repeat center;
				width: 158px;
				height: 84px;
				span {
					position:absolute;
					bottom: 47px;
					left: 49px;
					background: url(../images/case1-1.png) no-repeat center;
					width: 90px;
					height: 98px;
				}
			}
			&.case2 {
				background: url(../images/case2.png) no-repeat center;
				width: 158px;
				height: 84px;
				span {
					position:absolute;
					bottom: 48px;
					left: 52px;
					background: url(../images/case2-1.png) no-repeat center;
					width: 80px;
					height: 105px;
				}
			}
			&.case3 {
				background: url(../images/case3.png) no-repeat center;
				width: 158px;
				height: 84px;
				span {
					position:absolute;
					bottom: 56px;
					left: 48px;
					background: url(../images/case3-1.png) no-repeat center;
					width: 83px;
					height: 76px;
				}
			}
			&.case4 {
				background: url(../images/case4.png) no-repeat center;
				width: 158px;
				height: 84px;
				span {
					position:absolute;
					bottom: 56px;
					left: 51px;
					background: url(../images/case4-1.png) no-repeat center;
					width: 81px;
					height: 76px;
				}
			}
			&.case5 {
				background: url(../images/case5.png) no-repeat center;
				width: 158px;
				height: 84px;
				span {
					position:absolute;
					bottom: 54px;
					left: 51px;
					background: url(../images/case5-1.png) no-repeat center;
					width: 75px;
					height: 94px;
				}
			}
			&.case6 {
				background: url(../images/case6.png) no-repeat center;
				width: 158px;
				height: 84px;
				span {
					position:absolute;
					bottom: 53px;
					left: 47px;
					background: url(../images/case6-1.png) no-repeat center;
					width: 78px;
					height: 95px;
				}
			}
		}
	}
}

#mascotte-main {
	position: absolute;
	bottom: 60px;
	left: 100px;
	z-index: 1000;
	background: url(../images/mascotte-main.png) no-repeat center;
	width: 146px;
	height: 290px;
}
