@import url(http://fonts.googleapis.com/css?family=Flamenco:300,400);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* composants CSS3 */
#bg .ciel {
  background: url(../images/ciel2.png) repeat-x left top;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}
#bg .bg-footer {
  background: url(../images/bg-footer.png) repeat-x left bottom -110px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: -25px;
  z-index: 10;
}
#bg .bg-forets {
  background: url(../images/forets.png) repeat-x left bottom -110px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 160px;
  left: -25px;
  z-index: 2;
}
#bg .three > div {
  position: absolute;
  z-index: 1000;
}
#bg .three > div.three1 {
  background: url(../images/three.png) repeat-x left bottom;
  width: 290px;
  height: 322px;
  bottom: 90px;
  left: 125px;
}
#bg .three > div.three2 {
  background: url(../images/three2.png) repeat-x left bottom;
  width: 119px;
  height: 148px;
  bottom: 170px;
  left: 445px;
}
#bg .three > div.three3 {
  background: url(../images/three3.png) repeat-x left bottom;
  width: 102px;
  height: 127px;
  bottom: 190px;
  left: 515px;
  z-index: 100;
}
#bg .three > div.three4 {
  background: url(../images/three4.png) repeat-x left bottom;
  width: 154px;
  height: 242px;
  bottom: 140px;
  left: 795px;
}
#bg .three > div.three5 {
  background: url(../images/three5.png) repeat-x left bottom;
  width: 137px;
  height: 231px;
  bottom: 135px;
  left: 875px;
}
#bg .three > div.squirel {
  background: url(../images/squirel.png) repeat-x left bottom;
  width: 78px;
  height: 75px;
  bottom: 170px;
  left: 570px;
}
#bg .mountain > div {
  position: absolute;
  z-index: 10;
}
#bg .mountain > div.mountain1 {
  background: url(../images/mountain1.png) repeat-x bottom left;
  width: 426px;
  height: 326px;
  bottom: 70px;
  left: 1023px;
}
#bg .mountain > div.mountain2 {
  background: url(../images/mountain2.png) repeat-x bottom left;
  width: 500px;
  height: 318px;
  bottom: 70px;
  left: 775px;
  z-index: 9;
}
#bg .mountain > div.mountain3 {
  background: url(../images/mountain3.png) repeat-x bottom left;
  width: 508px;
  height: 311px;
  bottom: 130px;
  left: 850px;
  z-index: 8;
}
#bg .cloud1 {
  background: url(../images/cloud1.png) repeat-x bottom left;
  width: 193px;
  height: 102px;
  position: absolute;
  top: 160px;
  left: 150px;
  z-index: 10;
}
#bg .cloud2 {
  background: url(../images/cloud2.png) repeat-x bottom left;
  width: 256px;
  height: 128px;
  position: absolute;
  top: 160px;
  left: 1080px;
  z-index: 10;
}

#intro {
  width: 100%;
  height: 100%;
  background: url(../images/bg-intro.jpg) no-repeat center bottom #bbca58;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}
#intro .center {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-family: 'RalewaySemiBold', sans-serif;
}
#intro h1 {
  margin-top: 80px;
  margin-bottom: 50px;
  font-size: 62px;
  font-family: 'Flamenco', sans-serif;
  font-weight: 400;
  color: #808e31;
  text-shadow: -1px 1px 0px rgba(40, 99, 44, 0.44);
}
#intro p {
  font-size: 18px;
  color: white;
  width: 70%;
  margin: 0 auto;
  text-align: left;
  line-height: 20px;
  text-shadow: -1px 2px 1px rgba(40, 99, 44, 0.15);
}
#intro .play {
  position: relative;
  z-index: 100000;
  margin-top: 65px;
  cursor: pointer;
}
#intro .play a {
  position: relative;
  background-color: #df5f42;
  text-decoration: none;
  color: white;
  border-radius: 11px;
  font-size: 24px;
  padding: 15px;
  box-shadow: 0px 6px 0px 0px #99a529;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
#intro .play a:active {
  position: relative;
  top: 3px;
  box-shadow: 0px 3px 0px 0px #99a529;
}
#intro .mascotte {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/mascotte-intro.png) no-repeat bottom center;
}
#intro .bulle-intro {
  position: absolute;
  bottom: 30px;
  left: -200px;
  width: 100%;
  height: 100%;
  background: url(../images/bulle-intro.png) no-repeat bottom center;
}

nav {
  position: fixed;
  top: 0;
  z-index: 100;
  background-image: url(../images/bg-menu.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 95px;
  margin: 0 auto;
  text-align: center;
}

#fixe {
  width: 100%;
  padding-top: 82px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
#fixe h1 {
  width: 300px;
  height: 50px;
  font-family: 'Flamenco', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 100px;
  border-radius: 0 0 10px 10px;
  background-color: #e6ac27;
  line-height: 50px;
  position: fixed;
  left: 50%;
  margin-left: -150px;
  z-index: 99;
}

.de {
  background-color: #ca563b;
  border-radius: 100px;
  border: 5px solid #a64d32;
  width: 110px;
  height: 110px;
  margin: 0 auto;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  top: 200px;
  left: 50%;
  margin-left: -55px;
}
.de > div {
  padding-top: 25px;
}
.de .img {
  background: url(../images/de.png);
  background-repeat: no-repeat;
  width: 70px;
  height: 65px;
  text-align: center;
  margin: 0 auto;
}
.de .img.deux {
  background-position: 0 -65px;
}
.de .img.trois {
  background-position: 0 -130px;
}
.de .img.stop {
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
}
.de.active .img {
  -moz-animation: loading 0.5s steps(3) infinite;
  -webkit-animation: loading 0.5s steps(3) infinite;
  animation: loading 0.5s steps(3) infinite;
}

@-webkit-keyframes loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -195px;
  }
}
#plateau {
  position: absolute;
  bottom: 20px;
  left: 300px;
  z-index: 1000;
}
#plateau ul {
  width: 1200px;
}
#plateau ul li {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-right: 20px;
}
#plateau ul li.case1 {
  background: url(../images/case1.png) no-repeat center;
  width: 158px;
  height: 84px;
}
#plateau ul li.case1 span {
  position: absolute;
  bottom: 47px;
  left: 49px;
  background: url(../images/case1-1.png) no-repeat center;
  width: 90px;
  height: 98px;
}
#plateau ul li.case2 {
  background: url(../images/case2.png) no-repeat center;
  width: 158px;
  height: 84px;
}
#plateau ul li.case2 span {
  position: absolute;
  bottom: 48px;
  left: 52px;
  background: url(../images/case2-1.png) no-repeat center;
  width: 80px;
  height: 105px;
}
#plateau ul li.case3 {
  background: url(../images/case3.png) no-repeat center;
  width: 158px;
  height: 84px;
}
#plateau ul li.case3 span {
  position: absolute;
  bottom: 56px;
  left: 48px;
  background: url(../images/case3-1.png) no-repeat center;
  width: 83px;
  height: 76px;
}
#plateau ul li.case4 {
  background: url(../images/case4.png) no-repeat center;
  width: 158px;
  height: 84px;
}
#plateau ul li.case4 span {
  position: absolute;
  bottom: 56px;
  left: 51px;
  background: url(../images/case4-1.png) no-repeat center;
  width: 81px;
  height: 76px;
}
#plateau ul li.case5 {
  background: url(../images/case5.png) no-repeat center;
  width: 158px;
  height: 84px;
}
#plateau ul li.case5 span {
  position: absolute;
  bottom: 54px;
  left: 51px;
  background: url(../images/case5-1.png) no-repeat center;
  width: 75px;
  height: 94px;
}
#plateau ul li.case6 {
  background: url(../images/case6.png) no-repeat center;
  width: 158px;
  height: 84px;
}
#plateau ul li.case6 span {
  position: absolute;
  bottom: 53px;
  left: 47px;
  background: url(../images/case6-1.png) no-repeat center;
  width: 78px;
  height: 95px;
}

#mascotte-main {
  position: absolute;
  bottom: 60px;
  left: 100px;
  z-index: 1000;
  background: url(../images/mascotte-main.png) no-repeat center;
  width: 146px;
  height: 290px;
}

.dialog,
.dialog__overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
}

.dialog {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.dialog__overlay {
  position: absolute;
  z-index: 10000;
  opacity: 0;
  transition: opacity 0.3s;
}

.dialog--open .dialog__overlay {
  opacity: 1;
  pointer-events: auto;
}

.dialog__content {
  width: 50%;
  max-width: 560px;
  min-width: 290px;
  background: #fff;
  padding: 4em;
  text-align: center;
  position: relative;
  z-index: 50000;
  opacity: 0;
}

.dialog--open .dialog__content {
  pointer-events: auto;
}

/* Content */
.dialog h2 {
  margin: 0;
  font-weight: 400;
  font-size: 2em;
  padding: 0 0 2em;
  margin: 0;
}

.dialog.dialog--open .dialog__content,
.dialog.dialog--close .dialog__content {
  -moz-animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.dialog.dialog--open .dialog__content {
  -moz-animation-name: anim-open;
  -webkit-animation-name: anim-open;
  animation-name: anim-open;
}

.dialog.dialog--close .dialog__content {
  -moz-animation-name: anim-close;
  -webkit-animation-name: anim-close;
  animation-name: anim-close;
}

@-webkit-keyframes anim-open {
  0% {
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes anim-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale3d(0.9, 0.9, 1);
  }
}
/* Fonts */
@font-face {
  font-family: "RalewayBold";
  src: url('../fonts/Raleway-Bold-webfont.eot?1426342893');
  src: url('../fonts/Raleway-Bold-webfont.eot?&1426342893#iefix') format('embedded-opentype'), url('../fonts/Raleway-Bold-webfont.woff?1426342893') format('woff'), url('../fonts/Raleway-Bold-webfont.ttf?1426342893') format('truetype'), url('../fonts/Raleway-Bold-webfont.svg?1426342893') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RalewaySemiBold";
  src: url('../fonts/Raleway-SemiBold-webfont.eot?1426720165');
  src: url('../fonts/Raleway-SemiBold-webfont.eot?&1426720165#iefix') format('embedded-opentype'), url('../fonts/Raleway-SemiBold-webfont.woff?1426720165') format('woff'), url('../fonts/Raleway-SemiBold-webfont.ttf?1426720165') format('truetype'), url('../fonts/Raleway-SemiBold-webfont.svg?1426720165') format('svg');
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  height: 100%;
        /* 
overflow: hidden; */
}

#container {
  width: 100%;
  height: 100%;
}

#container::-webkit-scrollbar {
  display: none;
}

.loader {
  position: fixed;
  z-index: 99999;
  background-color: blue;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  cursor: wait;
}

#main {
  position: absolute;
  width: 3000px;
  height: 100%;
}
